<header class="page-header px-5">
    <div class="page-header__top">
        <div class='page-header__logo' onclick="window.location.href = '/'">LOGO</div>
        <div class="page-header__toggle" onclick="toggleMenu()">☰</div>
    </div>
    <nav class="page-header__bottom">
        <ul id="navigation" class="navigation">
            <li class="navigation__item"><a href="/" class="text-light">Home</a></li>
            <li class="navigation__item"><a href="/add-student" class="text-light">Add Student</a></li>
        </ul>
    </nav>
</header>